{% extends "base.twig" %}
{% block head %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FCU選課系統</title>
{% endblock %}
{% block body %}
	<h1>xixi</h1>
{% endblock %}
