<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入</title>
    <link rel="stylesheet" type="text/css" href="{{ session.Css }}bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ session.Css }}style.css">
    
</head>
<body>
    
    <div class="d-flex justify-content-center align-items-center m-auto" style="height: 100vh;">
        <div class="login-box row bg-white align-items-center" id="login">
            <div class="col-md-6 justify-content-center d-flex">
                <img src="{{ session.Image }}/Login/img-01.png" alt="" class="w-75">
            </div>
            <div class="col-md-6">
                <p class="text-center pt-5 pt-md-0" id="login-title">Fcu Test Login</p>
                <div class="d-flex justify-content-center">
                    <form method="post">
                        <input type="text" name="user" placeholder="NID" id="NID" class="d-flex">
                        <input type="password" name="password" placeholder="Password"  id="password" class="d-flex">
                        <input type="submit" id="login-submit" value="登入">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ session.Js }}bootstrap/js/bootstrap.min.js"></script>

</body>
</html>