* {
  box-sizing: border-box;
}
body,
h1,
p {
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: minmax(200px, 20%) 1fr;
  grid-template-rows: auto 1fr 1fr auto;
  grid-template-areas:
    "header header"
    "sidebar content"
    "sidebar content"
    "sidebar footer";
}
.title {
  grid-area: header;
  background-color: #9255c6;
  color: white;
  padding: 1rem;
  text-align: center;
}
.sidebar {
  grid-area: sidebar;
  background-color: #eee;
  padding: 1rem;
  /* display: grid; */
  width: 100%;
  /* grid-template-rows: 235px 78px 1fr;
  gap: 1rem; */
  min-width: 325px;
}

.main-content {
  grid-area: content;
  padding: 1rem;
  overflow: auto;
  width: 100%;
}

.container > footer {
  grid-area: footer;
  background: #8cffa0;
  padding: 0.5rem;
  height: fit-content;
  text-align: center;
  font-size: xx-small;
}
.login-info {
  border: 2.5px solid #2dd2e9;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

.login-info > header {
  background-color: #2dd2e9;
  text-align: center;
  font-size: larger;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  margin-bottom: 10px;
}

.info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
}

.info-item span:last-child {
  font-weight: bold;
  margin-left: 5px;
}
.icontext {
  margin-bottom: 5px;
  width: 100%;
  height: fit-content;
}
.icontext > div {
  font-size: medium;
}
.icontext > div > span[id="1"]::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #9ccd81;
  margin-right: 5px;
}

.icontext > div > span[id="2"]::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #64c2c2;
  margin-right: 5px;
}
.icontext > div > span[id="3"]::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #a1d7e9;
  margin-right: 5px;
}
.icontext > div > span[id="4"]::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #e46451;
  margin-right: 5px;
}

.sidebar-icon {
  display: none;
  position: fixed;
  top: 15px;
  left: 10px;
  z-index: 1000;
  cursor: pointer;
}
#logout {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  background-color: #e46451;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 6.5rem;
  height: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
  thead,
  tfoot {
    background-color: rgb(228 240 245);
  }
  
  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }

@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: minmax(200px, 20%) 1fr;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-areas:
      "header header"
      "sidebar content"
      "sidebar content"
      "sidebar footer";
  }
  .sidebar-icon {
    display: none;
  }
  .sidebar {
    grid-area: sidebar;
    background-color: #eee;
    padding: 1rem;
    width: 100%;
  }
  .icontext > div {
    font-size: small;
  }
  .login-info,
  table {
    width: 100%; /* On small screens, take full width */
  }
}

@media screen and (max-width: 768px) {
  .container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:
      "header header"
      "content"
      "content"
      "footer footer";
  }
  .sidebar-icon {
    display: block;
  }
  .sidebar {
    display: none;
  }
  .icontext > div {
    font-size: small;
  }
  .login-info,
  table {
    width: 100%; /* On small screens, take full width */
  }
}
